.DS_Store
Thumbs.db

.idea/
.fleet/
.nova/
.phpunit.cache/
.vscode/
.zed/

/vendor/
/node_modules/
/composer.phar
/composer.json
/composer.lock
/package-lock.json
/.phpactor.json
/.phpunit.result.cache
/auth.json

/.env
/.env.*
!/MusicAlbumGuide/.env.example

*.log
/public/build/
/public/hot

/MusicAlbumGuide/.idea/
/MusicAlbumGuide/node_modules/
/MusicAlbumGuide/public/build/
/MusicAlbumGuide/public/hot
/MusicAlbumGuide/public/storage
/MusicAlbumGuide/storage/*.key
/MusicAlbumGuide/storage/pail
/MusicAlbumGuide/vendor/
/MusicAlbumGuide/.env
/MusicAlbumGuide/.env.backup
/MusicAlbumGuide/.env.production
/MusicAlbumGuide/.phpactor.json
/MusicAlbumGuide/.phpunit.result.cache
/MusicAlbumGuide/auth.json
